In [1]:
import pandas as pd
import numpy as np

In [85]:
xls = pd.ExcelFile('OxCGRT_timeseries_all.xlsx')

In [94]:

df1 = pd.read_excel(xls, 'c1_schoolclosing')
df2 = pd.read_excel(xls, 'c2_workplaceclosing')
df3 = pd.read_excel(xls, 'c3_cancelpublicevents')
df4 = pd.read_excel(xls, 'c4_restrictionsongatherings')
df5 = pd.read_excel(xls, 'c5_closepublictransport')
df6 = pd.read_excel(xls, 'c6_stayathomerequirements')
df7 = pd.read_excel(xls, 'c7_domestictravel')
df8 = pd.read_excel(xls, 'c8_internationaltravel')

df9 = pd.read_excel(xls, 'confirmedcases')
df10 = pd.read_excel(xls, 'confirmeddeaths')


h1 =  pd.read_excel(xls, 'h1_publicinfocampaign')
h2 =  pd.read_excel(xls, 'h2_testingpolicy')
h3 =  pd.read_excel(xls, 'h3_contacttracing')

In [95]:
T = list(df10.columns)
T = T[2:]

In [96]:
# T :
months_dict = {'jan': '-01-','feb': '-02-','mar': '-03-','apr': '-04-','may': '-05-','jun': '-06-',}

for num, date in enumerate(T):
    T[num] = date[0:2]+months_dict[date[2:5]]+date[5:]
    #print(date)
#T

In [97]:
#T = list(df10.columns)
countries = df9['CountryCode']
countries = list(countries)

columns = ['countryCode','_1st_case','_100th_case','_1000th_case','_10000th_case','_100000th_case','_1000000th_case']

cases = pd.DataFrame(columns=columns)
cases

Empty DataFrame
Columns: [countryCode, _1st_case, _100th_case, _1000th_case, _10000th_case, _100000th_case, _1000000th_case]
Index: []

In [98]:
def pad(_list,_len):
    for i in range (_len-len(_list)):
        _list.append(np.nan)

In [100]:
for index, row in df9.iterrows():
    dates_tmp = []
    for index_y, columns in enumerate(row[2:]): 
        #print(columns)
        if columns >= 1 and len(dates_tmp) == 0:
            dates_tmp.append(T[index_y])
        if columns >= 100 and len(dates_tmp) == 1:
            dates_tmp.append(T[index_y])
        if columns >= 1000 and len(dates_tmp) == 2:
            dates_tmp.append(T[index_y])
        if columns >= 10000 and len(dates_tmp) == 3:
            dates_tmp.append(T[index_y])
        if columns >= 100000 and len(dates_tmp) == 4:
            dates_tmp.append(T[index_y])
        if columns >= 1000000 and len(dates_tmp) == 5:
            dates_tmp.append(T[index_y])
    pad(dates_tmp,6)
    
    if index < 188:
        
        dates_tmp.insert(0,countries[index])
    
        cases.loc[index] = dates_tmp
    #cases.append(dates_tmp)
    #print(dates_tmp)
cases

,countryCode,_1st_case,_100th_case,_1000th_case,_10000th_case,_100000th_case,_1000000th_case
0,ABW,13-03-2020,23-04-2020,NaN,NaN,NaN,NaN
1,AFG,25-02-2020,29-03-2020,21-04-2020,25-05-2020,NaN,NaN
2,AGO,22-03-2020,NaN,NaN,NaN,NaN,NaN
3,ALB,09-03-2020,24-03-2020,26-05-2020,NaN,NaN,NaN
4,AND,03-03-2020,23-03-2020,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
183,PYF,NaN,NaN,NaN,NaN,NaN,NaN
184,STP,NaN,NaN,NaN,NaN,NaN,NaN
185,SXM,NaN,NaN,NaN,NaN,NaN,NaN
186,TCA,NaN,NaN,NaN,NaN,NaN,NaN
187,TGO,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:

#countries = df10['CountryName'][0:174]
#countries = list(countries)

columns = ['countryCode','_1st_death','_100th_death','_1000th_death','_10000th_death','_100000th_death','_1000000th_death']

deaths = pd.DataFrame(columns=columns)
deaths

Empty DataFrame
Columns: [countryCode, _1st_death, _100th_death, _1000th_death, _10000th_death, _100000th_death, _1000000th_death]
Index: []

In [103]:
for index, row in df10.iterrows():
    dates_tmp = []
    for index_y, columns in enumerate(row[2:]): 
        #print(columns)
        if columns >= 1 and len(dates_tmp) == 0:
            dates_tmp.append(T[index_y])
        if columns >= 100 and len(dates_tmp) == 1:
            dates_tmp.append(T[index_y])
        if columns >= 1000 and len(dates_tmp) == 2:
            dates_tmp.append(T[index_y])
        if columns >= 10000 and len(dates_tmp) == 3:
            dates_tmp.append(T[index_y])
        if columns >= 100000 and len(dates_tmp) == 4:
            dates_tmp.append(T[index_y])
        if columns >= 1000000 and len(dates_tmp) == 5:
            dates_tmp.append(T[index_y])
    pad(dates_tmp,6)
    
    if index < 188:
        
        dates_tmp.insert(0,countries[index])
    
        deaths.loc[index] = dates_tmp
    #cases.append(dates_tmp)
    #print(dates_tmp)
deaths

,countryCode,_1st_death,_100th_death,_1000th_death,_10000th_death,_100000th_death,_1000000th_death
0,ABW,16-04-2020,NaN,NaN,NaN,NaN,NaN
1,AFG,24-03-2020,07-05-2020,NaN,NaN,NaN,NaN
2,AGO,30-03-2020,NaN,NaN,NaN,NaN,NaN
3,ALB,12-03-2020,NaN,NaN,NaN,NaN,NaN
4,AND,27-03-2020,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
183,PYF,NaN,NaN,NaN,NaN,NaN,NaN
184,STP,NaN,NaN,NaN,NaN,NaN,NaN
185,SXM,NaN,NaN,NaN,NaN,NaN,NaN
186,TCA,NaN,NaN,NaN,NaN,NaN,NaN
187,TGO,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:


# CLOSING_STUFF  
data = {'countryCode':countries}
lockdown = pd.DataFrame(data)

# MOVEMENT_RESTRICTIONS
movement = pd.DataFrame(data)

# BORDERS_RESTRICTIONS
columns = ['countryCode', 'screening_arrivals', 'quarantine_arrivals', 'ban_arrivals_from_some_regions', 'ban_on_all_regions_or_total_border_closure']
borders = pd.DataFrame(columns=columns)


#Health system policies by country ever
columns = ['countryCode', 'public_information_campaigns', 'testing_policy', 'contact_tracing']
health_system = pd.DataFrame(data)

In [105]:
# CLOSING_STUFF
lockdown_list = [df1,df2,df3,df5]
lockdown_names = {0:'closed_schools',1:'closed_workplaces',2:'cancelled_events',3:'closed_public_transport'} 

for num, item in enumerate(lockdown_list):   
    columns_d = []
    for index, row in item.iterrows():
        column_data=np.nan
        for index_y, columns in enumerate(row[2:]): 
            #print(columns)
            if columns >= 2:
                column_data=T[index_y]
                break
                
                #column_data.append(T[2+index_y])
        #pad(column_data,6)
        if index < 188:
            columns_d.append(column_data)
        
#         dates_tmp.insert(0,countries[index])
    
#         lockdown.loc[index] = dates_tmp
#         cases.append(dates_tmp)
#         print(dates_tmp)
   # print(len(columns_d))
    
#df['Address'] = address 
    
    lockdown[lockdown_names[num]] = columns_d
lockdown

,countryCode,closed_schools,closed_workplaces,cancelled_events,closed_public_transport
0,ABW,16-03-2020,21-03-2020,29-03-2020,NaN
1,AFG,14-03-2020,24-03-2020,01-03-2020,28-03-2020
2,AGO,24-03-2020,27-03-2020,27-03-2020,27-03-2020
3,ALB,09-03-2020,11-03-2020,09-03-2020,13-03-2020
4,AND,16-03-2020,14-03-2020,NaN,NaN
...,...,...,...,...,...
183,PYF,NaN,NaN,NaN,NaN
184,STP,NaN,NaN,NaN,NaN
185,SXM,NaN,NaN,NaN,NaN
186,TCA,NaN,NaN,NaN,NaN
187,TGO,NaN,NaN,NaN,NaN

In [106]:
# MOVEMENT_RESTRICTIONS 
#columns = 'Restrictions on gatherings >100', 'Restrictions on gatherings <100', 'Stay at home requirements', 'Restrictions on internal movement']

lockdown_list = [df4,df6,df7]
lockdown_names = {0:'restrictions_on_gatherings_of_more_than_100',1:'stay_at_home_requirements',2:'restrictions_on_internal_movement',3:'closed_public_transport'} 

columns_d = []
for index, row in df4.iterrows():
        column_data=np.nan
        for index_y, columns in enumerate(row[2:]): 
            #print(columns)
            if columns >= 3:
                column_data=T[index_y]
                break
                
                #column_data.append(T[2+index_y])
        #pad(column_data,6)
        if index < 188:
            columns_d.append(column_data)
movement['restrictions_on_gatherings_of_less_than_100'] = columns_d

for num, item in enumerate(lockdown_list):   
    columns_d = []
    for index, row in item.iterrows():
        column_data=np.nan
        for index_y, columns in enumerate(row[2:]): 
            #print(columns)
            if columns >= 2:
                column_data=T[index_y]
                break
                
                #column_data.append(T[2+index_y])
        #pad(column_data,6)
        if index < 188:
            columns_d.append(column_data)
        
#         dates_tmp.insert(0,countries[index])
    
#         lockdown.loc[index] = dates_tmp
#         cases.append(dates_tmp)
#         print(dates_tmp)
   # print(len(columns_d))
    
#df['Address'] = address 
    
    movement[lockdown_names[num]] = columns_d
movement

,countryCode,restrictions_on_gatherings_of_less_than_100,restrictions_on_gatherings_of_more_than_100,stay_at_home_requirements,restrictions_on_internal_movement
0,ABW,29-03-2020,29-03-2020,29-03-2020,29-03-2020
1,AFG,05-04-2020,05-04-2020,25-03-2020,12-04-2020
2,AGO,27-03-2020,24-03-2020,27-03-2020,27-03-2020
3,ALB,18-04-2020,09-03-2020,13-03-2020,13-03-2020
4,AND,NaN,NaN,NaN,NaN
...,...,...,...,...,...
183,PYF,NaN,NaN,NaN,NaN
184,STP,NaN,NaN,NaN,NaN
185,SXM,NaN,NaN,NaN,NaN
186,TCA,NaN,NaN,NaN,NaN
187,TGO,NaN,NaN,NaN,NaN

In [107]:
def to_nan(_str):
    if _str == '':
        n_str = np.nan
    else: n_str = _str
    return n_str

In [108]:
# BORDERS_RESTRICTIONS
borders_dict = {1:'screening_arrivals', 2:'quarantine_arrivals_', 3:'ban_arrivals_from_some_regions', 4:'ban_on_all_regions_or_total_border_closure'}

for index, row in df8.iterrows():
    dates_tmp = []
    dates1_tmp = ''
    dates2_tmp = ''
    dates3_tmp = ''
    dates4_tmp = ''
    
    for index_y, columns in enumerate(row[2:]): 
        #print(columns)
        if columns == 1 and dates1_tmp == '' :
            dates1_tmp=T[index_y]
        if columns == 2 and dates1_tmp == '' :
            dates2_tmp=T[index_y]
        if columns == 3 and dates1_tmp == '' :
            dates3_tmp=T[index_y]
        if columns == 4 and dates1_tmp == '' :
            dates4_tmp=T[index_y]
        
    dates_tmp = [dates1_tmp,dates2_tmp,dates3_tmp,dates4_tmp]
    #print(dates_tmp)
    dates_tmp = [to_nan(bit) for bit in dates_tmp]
    if index < 188:
        
        dates_tmp.insert(0,countries[index])
    
        borders.loc[index] = dates_tmp
    #cases.append(dates_tmp)
    
   # borders[borders_dict[num]] = columns_d

    #print(dates_tmp)
borders

,countryCode,screening_arrivals,quarantine_arrivals,ban_arrivals_from_some_regions,ban_on_all_regions_or_total_border_closure
0,ABW,NaN,NaN,01-06-2020,19-04-2020
1,AFG,NaN,NaN,08-06-2020,NaN
2,AGO,NaN,29-02-2020,19-03-2020,04-06-2020
3,ALB,25-02-2020,NaN,NaN,NaN
4,AND,NaN,31-05-2020,10-05-2020,NaN
...,...,...,...,...,...
183,PYF,NaN,NaN,NaN,NaN
184,STP,NaN,NaN,NaN,NaN
185,SXM,NaN,NaN,NaN,NaN
186,TCA,NaN,NaN,NaN,NaN
187,TGO,NaN,NaN,NaN,NaN

In [109]:
# HEALTH_SYSTEM

lockdown_list = [h1,h2,h3]
lockdown_names = {0:'public_information_campaigns',1:'testing_policy',2:'contact_tracing'} 
campaigns = {0: 'no Covid-19 public information campaign',
1: 'public officials urging caution about Covid-19',
2: 'coordinated public information campaign'}
testing = {0: 'no testing policy',
1: 'only those who both (a) have symptoms AND (b) meet specific criteria',
2: 'testing of anyone showing Covid-19 symptoms',
3: 'open public testing (eg "drive through" testing available to asymptomatic people)' }
tracking = {0: 'no contact tracing',
1: 'limited contact tracing; not done for all cases',
2: 'comprehensive contact tracing; done for all identified cases'}
dics = [campaigns,testing,tracking]

for num, item in enumerate(lockdown_list):   
    columns_d = []
    for index, row in item.iterrows():
        column_data=np.nan
        for index_y, columns in enumerate(row[2:]): 
            #print(columns)
            if columns >= 0:
                column_data=dics[num][columns]
                
        if index < 188:
            columns_d.append(column_data)
     
    
    health_system[lockdown_names[num]] = columns_d

health_system

,countryCode,public_information_campaigns,testing_policy,contact_tracing
0,ABW,coordinated public information campaign,only those who both (a) have symptoms AND (b) ...,limited contact tracing; not done for all cases
1,AFG,coordinated public information campaign,only those who both (a) have symptoms AND (b) ...,limited contact tracing; not done for all cases
2,AGO,coordinated public information campaign,testing of anyone showing Covid-19 symptoms,no contact tracing
3,ALB,coordinated public information campaign,only those who both (a) have symptoms AND (b) ...,comprehensive contact tracing; done for all id...
4,AND,coordinated public information campaign,"open public testing (eg ""drive through"" testin...",limited contact tracing; not done for all cases
...,...,...,...,...
183,PYF,NaN,NaN,NaN
184,STP,NaN,NaN,NaN
185,SXM,NaN,NaN,NaN
186,TCA,NaN,NaN,NaN
187,TGO,NaN,NaN,NaN